# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# SQLite
*.sqlite3